@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?14286921e0ee51e58ecced2d5eaa8a8f") format("truetype"),
url("./flaticon.woff?14286921e0ee51e58ecced2d5eaa8a8f") format("woff"),
url("./flaticon.woff2?14286921e0ee51e58ecced2d5eaa8a8f") format("woff2"),
url("./flaticon.eot?14286921e0ee51e58ecced2d5eaa8a8f#iefix") format("embedded-opentype"),
url("./flaticon.svg?14286921e0ee51e58ecced2d5eaa8a8f#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-power:before {
    content: "\f101";
}
.flaticon-refresh:before {
    content: "\f102";
}
.flaticon-check-mark:before {
    content: "\f103";
}
